body{
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    background: lavender;
    color:#212529;
}

a{
    text-decoration:none;
    color:white;
}

.banner{
    background:purple;
	min-height:25px;
	display:flex;
	justify-content:space-between;
	align-items:center;
    color:white
}

.form_field{
    width: 80%;
	padding:8px;
	border:1px solid #CCCCCC;
	margin-top:10px;
	border-radius:5px;
}

.userbutton{
    padding:8px;
	border-radius:8px;
	color:black;
	text-decoration:none;
	margin-right:8px;
}